/* You can add global styles to this file, and also import other style files */
body {
  // background-color: #E6ECF0; // twitter: #E6ECF0; dark: #374447; gris: #E6ECF0
  background-color: #cfd6dd; // #cfd6dd rgb(226, 229, 232) //e6edf4
  // background: url('/assets/w1.jpg');
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.separator {
    border: none;
    height: 1px;
    background-color: #dfdfdf;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#topBar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:55px;
  background-color:#FFFFFF; // F7F7F8; alt17: #FC1157
  vertical-align: middle;
  padding: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  color: white;
  z-index: 1000;
}